{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": 1,
    "no-trailing-spaces": 1,
    "spaced-comment": 1,
    "no-console": 0
  },
  "parser": "babel-eslint",
    "ecmaFeatures": {
      "classes": true,
      "jsx": true
    },
}
